.profile-menu {

}

.profile-menu .profile-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.profile-menu .profile-icon img{
    width: 100%;
}

.profile-menu .profile-modal-menu {
    position: fixed;
    top: var(--header-height);
    right: 0;
    background: white;
    padding: 40px;
    display: none;
    color: var(--dark-text-color);
}
.profile-menu .profile-modal-menu.visible {
    display: block;
}

.profile-menu .menu-elements {
    list-style: none;
    padding: 0;
}

.profile-menu .menu-element {
    color: blue;
    margin-bottom: 20px;
    cursor: pointer;
}