.traduccion {
    padding: 20px;
}

.traduccion .en {
    
}
.traduccion .es {
    color: grey;
}

.traduccion .traduccion-row {
    margin-bottom: 10px;
}

.button-save-card{
    position: fixed;
    top: calc(30px + var(--header-height));
    right: 14px;
}